.chatarea-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.chat-header{
    background-color: orange;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
}

.chat-area{
    background-color: white;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 20px;
    height: 400px;
    width: 100%;
}

.chat-input{
    background-color: white;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 20px;
}

.search-box{
    outline-width: 0;
    border: none;
    margin-left: 10px;
    font-size: 1.25rem;
}

.sent-message{
    color: blue;
    text-align: end;
    margin-right: 50px;
    padding: 2px;
}

.received-message{
    color: red;
    margin-left: 50px;
}

.messagediv{
    /* border: 2px solid grey; */
    width: 35px;
    text-align: end;
    margin-right: 50px;
    height: 35px;
    border-radius: 5px;
}