.ride-details {
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    /* background-color: #fff; */
    text-align: left;
    font-size: 10px;
}

.ride-details p {
    margin: 5px 0;
    font-size: 14px;
}

.border-dark {
    border-color: #000 !important;
}

.rounded {
    border-radius: 10px !important;
}

.mt-3 {
    margin-top: 1rem !important;
}